#music-container{
  width: 100%;
  height: 480px;
  overflow: hidden;
  border-radius: 15px;
  background: #fad;
  box-shadow: #fad 1px 1px 1px;
}
@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
}

.mystylefont1{
  color:#42b983;
  font-family:Monoton;
  text-align: center;
  text-decoration:none; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.mystylefont1:hover{
  -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
  -moz-animation: neon1 1.5s ease-in-out infinite alternate;
  animation: neon1 1.5s ease-in-out infinite alternate; 
  transition-duration: 0.2s;
}




/*glow for webkit*/
@-webkit-keyframes neon1 {
  0%,100% {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #42b983,
               0 0 70px  #42b983,
               0 0 80px  #42b983,
               0 0 100px #42b983,
               0 0 150px #42b983;
               transform:rotate3d(1,1,0,10deg);
  }
  50%{
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #42b983,
               0 0 35px #42b983,
               0 0 40px #42b983,
               0 0 50px #42b983,
               0 0 75px #42b983;
    transform:rotate3d(-1,1,0,10deg);
  }
}


/*glow for mozilla*/
@-moz-keyframes neon1 {
  0%,100% {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #42b983,
               0 0 70px  #42b983,
               0 0 80px  #42b983,
               0 0 100px #42b983,
               0 0 150px #42b983;
               transform:rotate3d(1,1,0,10deg);
  }
  50%{
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #42b983,
               0 0 35px #42b983,
               0 0 40px #42b983,
               0 0 50px #42b983,
               0 0 75px #42b983;
    transform:rotate3d(-1,1,0,10deg);
  }
}



/*glow*/
@keyframes neon1 {
  0%,100% {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #42b983,
               0 0 70px  #42b983,
               0 0 80px  #42b983,
               0 0 100px #42b983,
               0 0 150px #42b983;
               transform:rotate3d(10,20,0,10deg);
  }
  50%{
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #42b983,
               0 0 35px #42b983,
               0 0 40px #42b983,
               0 0 50px #42b983,
               0 0 75px #42b983;
    transform:rotate3d(0,1,0,10deg);
  }
}


.alert>.start-icon {
    margin-right: 0;
    min-width: 20px;
    text-align: center;
}

.alert>.start-icon {
    margin-right: 5px;
}

.greencross
{
  font-size:18px;
      color: #25ff0b;
    text-shadow: none;
}

.alert-simple.alert-success
{
  border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    box-shadow: 0px 0px 2px #259c08;
    color: #0ad406;
  text-shadow: 2px 1px #FFF;
  transition:0.5s;
  cursor:pointer;
}
.alert-success:hover{
  background-color: rgba(7, 149, 66, 0.35);
  transition:0.5s;
}
.alert-simple.alert-info
{
  border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    box-shadow: 0px 0px 2px #0396ff;
    color: #0396ff;
  text-shadow: 2px 1px #FFF;
  transition:0.5s;
  cursor:pointer;
}

.alert-info:hover
{
  background-color: rgba(7, 73, 149, 0.35);
  transition:0.5s;
}

.blue-cross
{
  font-size: 18px;
    color: #0bd2ff;
    text-shadow: none;
}

.alert-simple.alert-warning
{
      border: 1px solid rgba(241, 142, 6, 0.81);
    background-color: rgba(220, 128, 1, 0.16);
    box-shadow: 0px 0px 2px #ffb103;
    color: #ffb103;
    text-shadow: 2px 1px #FFF;
  transition:0.5s;
  cursor:pointer;
}

.alert-warning:hover{
  background-color: rgba(220, 128, 1, 0.33);
  transition:0.5s;
}

.warning
{
      font-size: 18px;
    color: #ffb40b;
    text-shadow: none;
}

.alert-simple.alert-danger
{
  border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    box-shadow: 0px 0px 2px #ff0303;
    color: #ff0303;
    text-shadow: 2px 1px #FFF;
  transition:0.5s;
  cursor:pointer;
}

.alert-danger:hover
{
     background-color: rgba(220, 17, 1, 0.33);
  transition:0.5s;
}

.danger
{
      font-size: 18px;
    color: #ff0303;
    text-shadow: none;
}

.alert-simple.alert-primary
{
  border: 1px solid rgba(6, 241, 226, 0.81);
    background-color: rgba(1, 204, 220, 0.16);
    box-shadow: 0px 0px 2px #03fff5;
    color: #03d0ff;
    text-shadow: 2px 1px #FFF;
  transition:0.5s;
  cursor:pointer;
}

.alert-primary:hover{
  background-color: rgba(1, 204, 220, 0.33);
   transition:0.5s;
}

.alertprimary
{
      font-size: 18px;
    color: #03d0ff;
    text-shadow: none;
}

.square_box {
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top-left-radius: 45px;
    opacity: 0.302;
}

.square_box.box_three {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: -80px;
    top: -60px;
    width: 500px;
    height: 500px;
    border-radius: 45px;
}

.square_box.box_four {
    background-image: -moz-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -webkit-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    background-image: -ms-linear-gradient(-90deg, #290a59 0%, #3d57f4 100%);
    opacity: 0.059;
    left: 150px;
    top: -25px;
    width: 550px;
    height: 550px;
    border-radius: 45px;
}

.alert:before {
    content: '';
    position: absolute;
    width: 0;
    height: calc(100% - 44px);
    border-left: 1px solid;
    border-right: 2px solid;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
      height: 20px;
}

.fa-times
{
-webkit-animation: blink-1 2s infinite both;
	        animation: blink-1 2s infinite both;
}


/**
 * ----------------------------------------
 * animation blink-1
 * ----------------------------------------
 */
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
.uicss-cn {
  overflow-y: scroll;
  scrollbar-face-color:#888;scrollbar-shadow-color:#888;scrollbar-highlight-color:#000;scrollbar-track-color:#000;scrollbar-arrow-color:#ccc;overflow: -moz-scrollbars-button(#000) !important;
}

.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  line-height: 1;
  width: 100%;
}

.uicss-cn {
  overflow-y: scroll;
  scrollbar-face-color:#cf1d00;scrollbar-shadow-color:#cf1d00;scrollbar-highlight-color:#000DFF;scrollbar-track-color:#000;scrollbar-arrow-color:#000;scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
}

.uicss-cn {
  overflow: auto;
}

.uicss-cn::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}

.uicss-cn::-webkit-scrollbar-button {
  background-color: none
}

.uicss-cn::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.28)
}

.uicss-cn::-webkit-scrollbar-thumb {
  background: #258fb8;
}

.uicss-cn::-webkit-scrollbar-corner {
  background: #258fb8;
}

.uicss-cn::-webkit-scrollbar-resizer {
  background: #258fb8;
}

.bo {
  width: 100%;
  height: 100%;
  background: url(./player-images/banner.jpg);
  position: fixed;
}

.bo1 {
  background: #333;
  height: 400px;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(23,24,44,0.72);
  position: relative;
  width: 100%;
  margin:10px 0 0 0;
  display: flex;
}

.bo2 {
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  border: 0;
  text-align: left;
}

#player {
  float: left;
  width: 100%;
  margin-bottom: 23px;
  border-bottom: 2px solid rgb(116,141,181);
  padding-bottom: 25px;
}

#player .cover {
  background: rgba(0,0,0,0.5);
  border: 1px solid #333;
  position: absolute;
  overflow: hidden;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 2px 10px black;
  -webkit-box-shadow: 0 2px 10px black;
  -o-box-shadow: 0 2px 10px black;
  box-shadow: 0 2px 10px black;
}

#player .cover img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  width: 130px;
  height: 130px;
}

#player .ctrl {
  margin-left: 155px;
  line-height: 16px;
  color: #fff;
}

#player .ctrl .tag strong,#player .ctrl .tag span {
  display: block;
  text-overflow: ellipsis;
}

#player .ctrl .tag span {
  font-size: 12px;
  margin-top: 5px;
  color: #ccc;
}

#player .ctrl .icon {
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  opacity: 0.6;
  cursor: pointer;
  width: 24px;
  height: 24px;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#player .ctrl .icon:hover,#player .ctrl .icon.enable {
  opacity: 1;
}

#player .ctrl .icon:active {
  opacity: 0.3;
}

#player .ctrl .control {
  margin-top: 10px;
  height: 25px;
}

#player .ctrl .control .rewind {
  background-image: url(./player-images/rewind.png);
}

#player .ctrl .control .playback {
  background-image: url(./player-images/play.png);
}

#player .ctrl .control .playback.playing {
  background-image: url(./player-images/pause.png);
}

#player .ctrl .control .fastforward {
  background-image: url(./player-images/fastforward.png);
}

#player .ctrl .control .volume .mute {
  background-image: url(./player-images/volume.png);
}

#player .ctrl .control .volume .mute.enable {
  background-image: url(./player-images/mute.png);
}

#player .ctrl .control .volume .slider {
  margin-top: 11px;
  margin-left: 10px;
  width: 50px;
}

#player .ctrl .progress {
  margin-top: 10px;
}

#player .ctrl .progress .timer {
  font-size: 12px;
  color: #ccc;
  margin-top: 8px;
}

#player .ctrl .progress .repeat,#player .ctrl .progress .shuffle {
  background-position: center bottom;
}

#player .ctrl .progress .repeat {
  background-image: url(./player-images/repeat.png);
}

#player .ctrl .progress .repeat.once,#player .ctrl .progress .repeat.all {
  opacity: 1;
}

#player .ctrl .progress .repeat.once {
  position: relative;
}

#player .ctrl .progress .repeat.once:before {
  content: "1";
  position: absolute;
  top: 3px;
  right: -2px;
  font-size: 8px;
}

#player .ctrl .progress .shuffle {
  background-image: url(./player-images/shuffle.png);
}

.slider {
  background: rgba(0,0,0,0.3);
  height: 5px;
  position: relative;
  cursor: pointer;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  -o-box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;
}

.slider:hover a,.slider.enable a {
  opacity: 1;
}

.slider a {
  background: #fff;
  margin-left: -2.5px;
  position: absolute;
  opacity: 0;
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -khtml-border-radius: 50%;
  border-radius: 50%;
  -moz-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.slider .loaded,.slider .pace {
  position: absolute;
  height: 100%;
  opacity: 0.7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

.slider .loaded {
  background: rgba(255,255,255,0.1);
}

.slider .pace {
  background: #258fb8;
}

#playlist {
  background: rgba(0,0,0,0.5);
  list-style: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  box-shadow: 0 2px 6px rgba(0,0,0,0.5);
  height: 100%;
  margin-top: 0;
  overflow: hidden;
  overflow-y: scroll;
  width: 280px;
}

#playlist li {
  color: #aaa;
  font-size: 12px;
  line-height: 2;
  padding-left: 25px;
  cursor: pointer;
  text-overflow: ellipsis;
  -moz-transition: 0.3s;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: left;
}

#playlist li:hover {
  color: #fff;
}

#playlist li.playing {
  background: url(./player-images/playing.png) no-repeat 25px center;
  color: #fff;
  font-weight: bold;
  text-indent: 25px;
  text-align: left;
}

footer {
  position: relative;
  font-size: 12px;
  color: white;
  margin-top: 160px;
  text-shadow: 0 1px 2px #000;
  text-align: center;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer a:hover {
  text-decoration: none;
}

.progress {
  margin-bottom: 20px!important;
  border-radius: 4px!important;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1)!important;
  background: rgba(0,0,0,0)!important;
  height: auto!important;
}

.maxsize {
  max-width: 580px
}

.tag {
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .maxsize {
      margin-top:240px
  }
}

@media screen and (min-width: 960px) and (max-width:1199px) {
  .maxsize {
      margin-top:240px
  }
}

@media screen and (min-width: 768px) and (max-width:959px) {
  .maxsize {
      margin-top:240px
  }
}

@media only screen and (min-width: 245px) and (max-width:767px) {
  #player .cover {
      background:rgba(0,0,0,0.5);
      border: 1px solid #333;
      position: inherit;
      overflow: hidden;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      -moz-box-shadow: 0 2px 10px black;
      -webkit-box-shadow: 0 2px 10px black;
      -o-box-shadow: 0 2px 10px black;
      box-shadow: 0 2px 10px black;
      margin-bottom: 25px;
  }

  #player .ctrl {
      margin-left: 0;
      line-height: 16px;
      color: #fff;
  }

  #player .cover img {
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px;
      width: 100%;
      height: auto;
  }

  #player {
      float: left;
      width: 100%;
      margin-bottom: 23px;
      border-bottom: 2px solid rgb(116,141,181);
      padding-bottom: 0;
  }

  .container {
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }

  .maxsize {
      margin-top: 20px;
  }
}

.download {
  right: 0;
  position: fixed;
  bottom: 0;
}

.download img {
  max-height: 200px
}
